{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body style="background-image: url('{% static 'img/login.png' %}'); background-size: cover; background-attachment: fixed; background-position: center;">


{% if messages %}
  {% for message in messages %}
    <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}

<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>

</body>
</html>